<div class="jumbotron jumbotron-fluid "
    style="background: url('/images/Carousel Images/ferriswheel2.jpg'); background-size: cover;">
    {{!-- add the style above to the css stylesheet with a jumbotron class --}}
    <div class="container text-secondary bg-light">
        <h1>How it Works</h1>
        <h3 class="card-text text-dark">
            You have tix, they have tix. You trade. Read all policies and conditions prior to engaging in a trade!
        </h3>
        <br>
        <a class="btn btn-secondary btn-lg" href="/search" role="button">Find Tickets</a>
    </div>
</div>

<div class="card">
    <div class="card-header text-light">
        Disney Policies
    </div>
    <div class="card-body text-light">
        <a class="btn btn-secondary btn-lg" href="https://parksjobs.disneycareers.com/benefits" role="button">Read
            More</a>
    </div>
</div>

<div class="card">
    <div class="card-header text-light">
        Universal Policies
    </div>
    <div class="card-body text-light">
        <a class="btn btn-secondary btn-lg" href="https://site.universalorlando.com/comcast-employees/Employee-Discount-Information.aspx" role="button">Read
            More</a>
    </div>
</div>


<div class="card text-light">
    <div class="card-header">
        tradeZ Terms and Conditions
    </div>
    <div class="card-body text-light">
        <p class="card-text"></p>
        <div class="card text-light" style="width: 85%;">
            <div class="card-body">
                <h3 class="card-text">
                    By listing your tickets, you agree to abide by all park policies and regulations outlined in
                    the respective
                    parks' terms of service.
                </h3>
            </div>
        </div>
    </div>
</div>