<div class="jumbotron jumbotron-fluid "
  style="background: url('/images/Carousel Images/ferriswheel.jpg'); background-size: cover;">
  {{!-- add the style above to the css stylesheet with a jumbotron class --}}
  <div class="container text-secondary text-dark bg-light">
    <h1>You got what I want.</h1>
    <h3 class="card-text">
      Chances are you know somebody who can
      trade their theme park tickets for yours! Do you have what they want?
      Tradesies!
    </h3>
    <br>
    <a class="btn btn-lg" href="#" role="button">How it Works</a>
  </div>
</div>
        <br>
        
    </div>
</div>
    <br><br><br><br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Trade me!</h3>
            <p class="card-text">Choose the tickets you want.</p>
            <div class="btn-group dropright">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    I Want..
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">tickets to a Disney Park!</a>
            <a class="dropdown-item" href="#">tickets to a Disney Water Park!</a>
            <a class="dropdown-item" href="#">tickets to a Universal Park!</a>
            <a class="dropdown-item" href="#">tickets to a Sea World Park!</a>
            <a class="dropdown-item" href="#">tickets to a Sea World Water Park!</a>
          </div>

            <div class="col-sm-4">
                <a href="/signup" class="btn btn-light btn-lg">Go!</a>
            </div>
        </div>
    </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Disney parks include EPCOT, Magic Kingdom, Animal Kingdom, Hollywood Studios and waterparks like Typhoon Lagoon and Blizzard Beach!</p>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Read Disney's Ticket Policies</a>
    </div>
  </div>
  <div class="card">
    <img src="/public/images/park images/universalStudios2.jpg" class="card-img-top" alt="visit-universal">
    <div class="card-body">
      <h5 class="card-title">Ride the movies!</h5>
      <p class="card-text">Universal parks include Islands of Adventure, Universal Studios and waterparks like Volcano Bay and Cabana Cay.</p>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Read Universal's Ticket Policies</a>
    </div>
  </div>
  <div class="card">
    <img src="/public/images/park images/disney2.jpg" class="card-img-top" alt="visit-disney">
    <div class="card-body">
      <h5 class="card-title">Coming soon!</h5>
      <p class="card-text">Find tickets to other Orlando fun spots! </p>
      <a class="btn btn-secondary btn-lg" href="#" role="button">More Tickets!</a>
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
