<div class="jumbotron jumbotron-fluid "
  style="background: url('/images/Carousel Images/skyswings.jpg'); background-size: cover;">
  {{!-- add the style above to the css stylesheet with a jumbotron class --}}
  <div class="container text-secondary bg-light">
    <h1>Update Account</h1>
    <h3 class="card-text text-dark">
   Update your email address, password, profile image and location!
    </h3>
    <br>
    <a class="btn btn-secondary btn-lg" href="#" role="button">How it Works</a>
  </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Subject</label>
                    <input type="subject" class="form-control" id="name-input" placeholder="Sea World Tickets">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="message-input" rows="12"></textarea>
                </div>
                <button type="button" class="btn btn-light" id="contact-submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
