<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand" href="#">TradeZ</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>

<div class="card">
  <div class="card-header text-light">
    My Info
  </div>
  <div class="card-body text-light">
    <h5 class="card-title">Update My Account</h5>
    <p class="card-text"></p>

    <form>
      <!-- <form>
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  id="inlineFormInput"
                  placeholder="Jane Doe"
                />
              </div>
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup"
                  >Username</label
                >
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="inlineFormInputGroup"
                    placeholder="Username"
                  />
                </div>
              </div>
              <div class="col-auto">
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="autoSizingCheck"
                  />
                  <label class="form-check-label" for="autoSizingCheck">
                    Remember me
                  </label>
                </div>
              </div>
            </div>
          </form> -->
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" value="{{email}}" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Update Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
      </div>
      <div class="form-group">
        <label>Upload Image</label>
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-light btn-file">
              Browse… <input type="file" id="imgInp" />
            </span>
          </span>
          <input type="text" class="form-control" readonly />
        </div>
        <img id="img-upload" />
      </div>
    </form>
  </div>
</div>

<div class="card text-light">
  <div class="card-header">
    Step 2: Where are you?
  </div>
  <div class="card-body">
    <h5 class="card-title">Find tickets in your area!</h5>
    <p class="card-text"></p>

    <form>
      <div class="form-group">
        <label for="inputZip">Your US Zipcode</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          How far will you travel?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">5 miles</a>
          <a class="dropdown-item" href="#">10 miles</a>
          <a class="dropdown-item" href="#">20 miles</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light">
  <div class="card-header">
    Step 3: Whatcha got?
  </div>
  <div class="card-body text-light">
    <h5 class="card-title text-light">Tickets You Have</h5>
    <p class="card-text"></p>
    <div class="card text-light" style="width: 85%;">
      <img src="/images/Carousel Images/merrygoround.jpg" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          Let's start with one park. What are you looking to trade?
        </h5>
        <p class="card-text">
          tradeZ currently accepts trades for Disney, Universal and Sea
          World theme parks and water parks! By listing your tickets, you
          agree to abide by all park policies and regulations outlined in
          the respective park's terms of service.
        </p>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            I have...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">tickets to a Disney Park!</a>
            <a class="dropdown-item" href="#">tickets to a Disney Water Park!</a>
            <a class="dropdown-item" href="#">tickets to a Universal Park!</a>
            <a class="dropdown-item" href="#">tickets to a Sea World Park!</a>
            <a class="dropdown-item" href="#">tickets to a Sea World Water Park!</a>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-light">Update Account</button>
  </div>
</div>