<div class="offer">
        <h2>You have an offer!</h2>
        <form action=""></form>
        <P>John Smith from Orlando would like to make an offer</P>
    </form>
        <br><br><br><br><br><br><br><br>
        <div class="btn-options">
                <button type="button" class="btn btn-light">EXCEPT</button>
            <button  type="button" class="btn btn-light">PASS</button>
            <button  type="button" class="btn btn-light">COUNTER</button>
            
        </div>
    </div>