<div class="jumbotron jumbotron-fluid "
  style="background: url('/images/Carousel Images/couple.jpg'); background-size: cover;">
  {{!-- add the style above to the css stylesheet with a jumbotron class --}}
  <div class="container text-dark bg-light">
    <h1>You have offers!</h1>
    <h3 class="card-text">
      View, respond and manage offers.
    </h3>
  </div>
</div>

<div class="offer">
        <h2>Your Offers</h2>
        <form action=""></form>
        <P>John Smith from Orlando would like to make an offer</P>
    </form>
        <br><br><br><br><br><br><br><br>
        <div class="btn-options">
                <button type="button" class="btn btn-light">EXCEPT</button>
            <button  type="button" class="btn btn-light">PASS</button>
            <button  type="button" class="btn btn-light">COUNTER</button>
        </div>
    </div>