<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img class="logo" src="../public/images/Screen Shot 2019-06-12 at 11.17.26 AM.png"
            class="img-responsive logo"></a>
    <div>
        <button type="submit" class="btn btn-light btn-sm">Log In</button>
        <button type="submit" class="btn btn-light btn-sm">Sign Up</button>
    </div>
</nav>
<br>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Bush Gardens" aria-label="Text input with dropdown button">
    <div class="input-group-append">
        <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Search</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Your Matches
        </div>
        <div class="card-body">
            <table>
                <thread>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                </thread>

                <tbody id="results-display">
                    <tr>
                        <th scope="row"></th>
                        <td>
                            People who have the tickets you searched will appear here.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>