<div class="jumbotron jumbotron-fluid "
    style="background: url('/images/Carousel Images/ferriswheel.jpg'); background-size: cover;">
    {{!-- add the style above to the css stylesheet with a jumbotron class --}}
    <div class="container text-secondary text-dark bg-light">
        <h1>Get it.</h1>
        <h3 class="card-text">
            See something you like?
        </h3>
        <br>
        <a class="btn btn-lg" href="#" role="button">How it Works</a>
    </div>
</div>
<br>
{{!-- 
<div class="col-md-12">
    <div class="input-group">
        <form action="/search" method="GET">
            <select class="form-control" name="q">
                {{#each experiences}}
                <option value="{{this.experience}}">{{this.experience}}</option>
                {{/each}}
            </select>
            <button class="btn" type="submit">Search</button>
        </form>
    </div> --}}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Trade me! Choose the tickets you want.</h3>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><span>I want...</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item ticket-options" type="button">tickets to a Disney Park!</button>
                <button class="dropdown-item ticket-options" type="button">tickets to a Disney Water Park!</button>
                <button class="dropdown-item ticket-options" type="button">tickets to a Universal Park!</button>
                <button class="dropdown-item ticket-options" type="button">tickets to a Sea World Park!</button>
                <button class="dropdown-item ticket-options" type="button">tickets to a Sea World Water Park!</button>
            </div>
</div>
</div>
</div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        You have {{matches.length}} match(es)!
                    </div>
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody id="results-display">
                                {{#each matches}}
                                <tr>
                                    <td scope="row">{{this.experience}}</td>
                                    <img id="loadingImage" src="../public/images/Table.jpeg"
                                        style="visibility:hidden" />
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>