<div class="jumbotron jumbotron-fluid "
  style="background: url('/images/Carousel Images/ferriswheel.jpg'); background-size: cover;">
  {{!-- add the style above to the css stylesheet with a jumbotron class --}}
  <div class="container text-secondary text-dark bg-light">
    <h1>You got what I want.</h1>
    <h3 class="card-text">
      Chances are you know somebody who can
      trade their theme park tickets for yours! Do you have what they want?
      Tradesies!
    </h3>
    <br>
    <a class="btn btn-lg" href="#" role="button">How it Works</a>
  </div>
</div>

<div class="card">
  <div class="card-header text-light">
    Step 1: Who are you?
  </div>
  <div class="card-body text-light">
    <h5 class="card-title">Create Your Account</h5>
    <p class="card-text"></p>

    <form>
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="name" placeholder="Name" />
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" />
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="autoSizingCheck" />
              <label class="form-check-label" for="autoSizingCheck">
                Remember me
              </label>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
          placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted-light">We'll never share your email without your permission.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Create a Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password" />
      </div>
    </form>
  </div>
</div>

<div class="card text-light">
  <div class="card-header">
    Step 2: What do you have?
  </div>
  <div class="card-body">
    <h5 class="card-title">Find tickets in your area!</h5>
    <p class="card-text"></p>

    <form>
      <div class="form-group">
        <label for="ticketSelection">Select Which Tickets You Have to Trade:</label>
      </div>


      <div class="container" id = "checkOptions">
        <input type="checkbox" class="checks" value="Disney">Tickets to a Disney Park<br>
        <input type="checkbox" class="checks" value="DisneyWTR">Tickets to a Disney Water Park<br><input type="checkbox"
          class="checks" value="Universal">Tickets to a Universal Park<br><input type="checkbox" class="checks"
          value="SeaWorld">Tickets to a SeaWorld Park<br><input type="checkbox" class="checks" value="SeaWorldWTR">Tickets to a SeaWorld Water Park<br>

      </div>





    </form>
  </div>
</div>

<div class="card text-light">
  <div class="card-header">
    Step 3: Terms and Conditions
  </div>
  <div class="card-body text-light">
    <p class="card-text"></p>
    <div class="card text-light" style="width: 85%;">
      <div class="card-body">
        <h3 class="card-text">
          By listing your tickets, you agree to abide by all park policies and regulations outlined in the respective
          parks' terms of service.
        </h3>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-light" id="createEntryButton">Create Account</button>
</div>
</div>