*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.list-group-item {
  line-height: 2.5;
}

.slider{
  overflow: hidden;
  margin-top: 5%;
  height: 150px;
}

.slider figure img{
  width: 20%;
  float: left;
}

.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 25s slider ease-in-out;
}


@keyframes slider{
  0%{
    left: 0;
  }
  25%{
    left: 0;
  }
  /* 12%{
    left: -100%;
  } */
  /* 25%{
    left: -100%;
  } */
  /* 45%{
    left: -100%;
  } */
  50%{
    left: -200%;
  }
  /* 70%{
    left: -200%;
  } */
  75%{
    left: -300%;
  }
  /* 95%{
    left: -400%;
  } */
  100%{
    right: -400;
  }
}

.logo{
  width: 45%;
  height: 10%;
  border-radius: 10px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  height: 20%;
}

.option {
  width: 50%;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 60%;
}

.button:hover {background-color: #FAC172}

.button:active {
  background-color: #FAC172;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* img{
  margin-left: 80%;
  height: 165px;
  box-shadow: #213B52;
  box-sizing: border-box;
  border: 1px solid #4d444d;

} */
.offer{
  text-align: center;
  display: block;
  background-color: #FF8357;
  color: white;
  width: 60%;
  height: 60%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 25px;
}

.input-group{
  width: 50%;
  text-align: center;
  margin-left: 20%;
  margin-bottom: 2%;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

body {
  background-color: #FAC172;
}

.jumbotron {
  background-color: #FAC172;
}

.card{
  margin: 50px;
  margin-top: 5px;
  background-color: #FF8357;
  color: white;
}
.display-4 {
  color: #213B52;
  text-align: center;
}

.display-6 {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}

footer{
  text-align: center;
  background-color: black;
  color: #FAC172;
}


/* 1. Green, #ADC965
2. Blue, #89D5C9
3. Gold, #FAC172
4. Peach, #FF8357
5. Blood Orange, #E05C45
__ Secondary__
6. Gray, #BCBFAA
7. Dark Blue, #213B52 */